* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

.site_container {
    max-width: 1200px;
    background-color: #f6f6f6;
    color: #282828;
}

.gal_card {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    width: 30%;
    margin: 10px;
    background-color: white;
    padding: 5px;
}

.gal_card p {
    background-color: white;
    padding: 5px 0px;
}

.gal_card a {
    text-decoration: none;
    background-color: white;
}
.card_pic {
    display: inline-block;
    width: 30%;
    overflow: hidden;
    padding: 30px;
}

.card_desc p {
    padding: 10px 0px;
    font-size: 20px;
}

.card_desc button {
    padding: 10px 30px;
    display: inline-block;
    horiz-align: left;
    margin: 30px 0;
    background-color: coral;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.card_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.card_desc {
    display: inline-block;
    width: 69%;
    vertical-align: top;
    padding: 20px 0px 20px 30px;
}

.card_details {
    font-size: 20px;
}

.card_details h2, .card_details h3, .card_details h4{
    padding: 15px 0px 10px 0px;
}

.card_details li {
    list-style-type: none;
}

.testim_rec p {
    padding: 3px 0px;
}
.testim_rec div {
    padding: 5px 0px;
}
.t_bold {
    font-weight: bold;
}

.left_menu, .right_menu, .logo {
    display: inline-block;
}



.win {
    z-index: 10000000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.6);
    padding: 6px 6px 0;
    transition-property: transform,opacity,-webkit-transform;
    text-align: center;
    display: none;
}

.frame {
    text-align: center;
    background-color: rgba(255,255,255,1);
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.close_win {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #282828;
    cursor: pointer;
    height: 44px;
    margin: 0;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index: 10;
    display: inline-block;
}

.close_win svg {
    fill: transparent;
    opacity: .8;
    stroke: currentColor;
    stroke-width: 1.5;
    transition: stroke .1s;
}

.img_win {
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'SF Pro Display', sans-serif;
    color: #77797f;
    background: #fff;

}
header{
    display: flex;
    /*    background-color: #2f2a2d;*/
    justify-content: space-between;
    color: #77797f;
    padding: 30px 80px;
}
button:focus{
    outline: none;
}
.logo{
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    font-weight:100;
}
.btn-cart{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
    background: #fff;
    color: #77797f;

}
.btn-cart:hover{
    background-color: transparent;
    border-color: #fafafa;
    color: #77797f;
    background-color: #fafafa;
}


.btn-cart, .logo{
    align-self: center;
}

img {
    max-width: 100%;
    height: auto
}
.desc {
    border: 1px solid #c0c0c040;
    padding: 15px
}
.cart{
    position: relative;
}
.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.invisible{
    display: none;
}
.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 25px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.buy-btn, .del-btn{
    margin-top: 5px;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
    background: #d7c3b3;
}
.buy-btn:hover, .del-btn:hover{
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
}
.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
}
.product-single-price{
    color: #474747;
    font-size: 0.5em;
}
.product-price{
    margin-left: 30px;
}
.product-desc{
    max-width: 150px;
}
.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}
.right-block{
    text-align: right;
}
.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
    color: #77797f
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #77797f;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #77797f;
}

.basket>h1 {
    padding: 30px 20px;
    padding: 30px 20px;
}
table {
    display: block;
    margin: 20px;
}

td {
    height: 30px;
}
.basket_product {
    width: 300px;
    text-align: left;
}

.basket_qty {
    width: 100px;
    text-align: center;
}

.basket_price {
    width: 200px;
    text-align: center;
}

.basket_button {
    padding: 10px 30px;
    display: inline-block;
    horiz-align: left;
    margin: 30px 0;
    background-color: coral;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin: 30px 30px;
}
.basket_button_del {
    padding: 5px 30px;
    display: inline-block;
    horiz-align: left;
    background-color: coral;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}